@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&display=swap');

@import "tailwindcss";
@plugin "daisyui";

::selection {
  background-color: #ff8c00;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Martian Mono", monospace;
}


@keyframes moveStars {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 10000px 10000px;
  }
}

.animated-stars {
  background: url('./assets/stardust.png'); /* or your own star image */
  animation: moveStars 300s linear infinite;
}
