@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";
@plugin "daisyui";

::selection {
  background-color: #9f2d00;
  color: #ffd6a7;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Martian Mono", monospace;
}


@keyframes moveStars {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 10000px 10000px;
  }
}

.animated-stars {
  background: url('./assets/stardust.png'); /* or your own star image */
  animation: moveStars 300s linear infinite;
}
